DJANGO_SECRET_KEY = "!w06ih8u79bgb5&!ojsun^(kndkxiot^u6muh6^w#8!&$85+(c"

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=social
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpswd
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

SUPER_USER="admin@email.com"
SUPER_PASSWORD="1qazcde3"

CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379